body{
  padding: 0px;
}

hr {
  border-top: 1px dashed #8c8b8b;
}

ul li {
  list-style: none;
}

table{
  width:auto !important;
}

table.forum{
  width:100% !important;
}

table.thread{
  border-collapse: separate;
  border-spacing: 0px 10px;
}

td.fit, th.fit{
  white-space: nowrap;
  width: 1%;
}

footer{
  display:block;
}

hr:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background:#FFFFFF;
  color: #8c8b8b;
  font-size: 18px;
}

input.aside{
  display: block;
  width: 100%;
  padding-left: 5px;
}

input.register{
  width:auto;
  margin-top: 0px;
  display: inline;
}

label{
  display: inline;
}

img{
  width:100px;
  display: block;
}

label.required:after{
  content:'*';
  color:red;
}

h2.aside{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

.btn-register{
  width:100%;
}

.alert{
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto !important;
  display:inline-block;
}

.register{
  margin-top: 20px;
}

.table-center{
  width:500px;
  margin: 0 auto;
}

.reply-user, .reply-body{
  display:table-cell;
  vertical-align: top;
  padding: 10px;
  overflow: hidden;
  background: #EEEEEE;
}

.reply-body{
  height:100%;
  border-radius: 0 10px 10px 0 ;
}

.reply-user{
  text-align: center;
  border-radius: 10px 0 0 10px;
}

.reply{
  border-bottom: 1px solid grey;
  overflow: auto;
}

.reply-date{
  text-align: right;
  margin-bottom: 10px
}

.reply-input{
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.btn-reply{
  float:right;
  width:auto;
}

.row{
  margin: auto;
}

#username{
  -webkit-appearance:none;
  -webkit-border-radius:0px;
}

#password{
  -webkit-appearance:none;
  -webkit-border-radius:0px;
  margin-top: -1px;
  margin-bottom: -10px;
}

#pagination{
  text-align: center;
}
