body{
  padding: 0px;
  background-image: url("../img/triangular.png");
  background-size: 150px;
  height: 100%;
}

html{
  height: 100%;
}

hr {
  border-top: 1px solid #8c8b8b;
}

ul{
  display:inline;
}

ul li{
  list-style: none !important;
}

table{
  width:auto !important;
}

table.forum{
  width:100% !important;
}

table.thread{
  border-collapse: separate;
  border-spacing: 0px 10px;
}

td.fit, th.fit{
  white-space: nowrap;
  width: 1%;
}

footer{
  display:flex;
  padding: 10px;
  margin-top: 20px;
  height: 300px;
  background-color: #555555;
}

input.register{
  width:100%;
  margin-top: 0px;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline;
}

label{
  display: inline;
}

img{
  width:100px;
  display: block;
}

label.required:after{
  content:'*';
  color:red;
}

h2.aside{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

.dropdown-login li a{
  color: #FFFFFF;
}

.dropdown-login{
  border:#555555;
  border-radius: 0 0 0 10px;
  padding: 15px !important;
}

.navbar-nav .open a *{
  color: #666666;
}

.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus{
    color: #666666;
    background-color: #555555;
}

.active{
  background: #555555;
}

.login{
  display: block;
  width: 100%;
  padding-left: 5px;
  border-radius: 0;
}

.g-recaptcha{
  width: 300px;
  padding: 15px 0 15px 0;
}

.register-form{
  width: 300px;
  text-align: left;
  min-height: 35px;
}

.center{
  margin: 0 auto;
}

.navbar-simple * {
  background-color: #555555;
  color: #FFFFFF;
  text-decoration: none !important;
}

.navbar-simple .navbar-collapse ul li a:hover, .navbar-simple .navbar-collapse ul li:hover span, .navbar-simple .navbar-collapse ul li:hover strong{
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #666666;
}

.container-white{
  padding: 10px;
  border: 1px solid #DFDFDF;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}

.btn-register{
  width:auto;
  border-radius: 0;
  float:right;
}

.register{
  padding-top: 10px;
  display:block;
  width:100%;
}

.btn-login{
  height:auto;
}

.alert{
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:auto !important;
  display:inline-block;
}

.modal-content{
  border-radius: 0;
  margin-top: 75px;
  padding: 0 15px 15px 15px;
}

.table-center{
  max-width:400px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.reply-user, .reply-body{
  display:table-cell;
  vertical-align: top;
  padding: 10px;
  overflow: hidden;
  background: #FFFFFF;
}

.reply-body{
  height:100%;
  border-left: none;
}

.reply-user{
  text-align: center;
  border-right: none;
  padding: 0 10px 0 10px;
}

.reply{
  border-bottom: 1px solid grey;
  overflow: auto;
}

.reply-header{
  margin-bottom: 10px;
  overflow: hidden;
}

.reply-date{
  float: right;
  color: #AAAAAA;
}

.reply-title{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.reply-input{
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.btn-reply{
  float:right;
  width:auto;
}

.row{
  margin: auto;
}

.container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.profile-body{
  width:100%;
}

.profile-table{
  width:100%;
}

.profile-input{
  overflow: hidden;
}

textarea.profile-input{
  width:100%;
  height:70px;
}

.profile-input dt{
  float:left;
  width:40%;
}

.profile-input dd{
  float:right;
  width:55%;
}

#username{
  -webkit-appearance:none;
  -webkit-border-radius:0px;
}

#password{
  -webkit-appearance:none;
  -webkit-border-radius:0px;
  margin-top: -1px;
  margin-bottom: -10px;
}

#pagination{
  text-align: center;
}
